<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card text-center p-5 shadow" style="max-width: 500px; width: 100%;">
    <h2 class="text-success mb-4">Your Order is Placed Successfully!</h2>
    
    <%= link_to "Back to Home", customer_home_path, class: "btn btn-primary" %>
  </div>
</div>
